* {
    color: white;
    background-color: #191919;
    font-family: "Audiowide", sans-serif;
    font-weight: 100;
    font-style: normal;
}

header{
    background-color: #151515 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero{
    background-color: #151515 ;
    display: flex; /* Para colocar la imagen y el texto en línea */
    align-items: center; /* Para centrar verticalmente los elementos */  

}
footer{
    background-color: #151515 ;
    display: flex; 
    align-items: flex-start;
    justify-content: center;
}

.en_contacto{
    background-color: #151515
}

button{
    background-color: #8acd54;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.contacto{
    display: flex; 
    align-items: center;
}



.centrar{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%;
}

.espacio{
    display: flex;
    justify-content: space-between;
}