* {
    color: white;
    background-color: #191919;
}
header{
    background-color: #151515 ;
}
.hero{
    background-color: #151515 ;
}
footer{
        background-color: #151515 ;
}

.en_contacto{
    background-color: #151515
}

button{
    background-color: #8acd54;
}