@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
    color: white;
    background-color: #191919;
    font-family: "Audiowide", sans-serif;
    font-weight: 5;
}

header{
    background-color: #151515 ;
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
    align-items: center;
}
main{
    margin: 0px 40px;
}

.hero{
    background-color: #151515 ;
    display: flex; /* Para colocar la imagen y el texto en línea */
    align-items: center; /* Para centrar verticalmente los elementos */  

}
footer{
    background-color: #151515 ;
    display: flex; 
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px 40px;
}

.en_contacto{
    background-color: #151515
}

button{
    background-color: #8acd54;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.contacto{
    display: flex; 
    align-items: center;
}



.centrar{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%;
}

.espacio{
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}